@model Dashboard_Times.Models.Time
<link href="~/css/timesEjogadores.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Cadastrar Time";
}

<html>
    <body>
        <div class="titulo">
            <h1>Teams</h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="CadTime" enctype="multipart/form-data" class="form-container">
                    <h2>Register Team</h2>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Nome" class="control-label">Team Name</label>
                        <input asp-for="Nome" class="form-control" placeholder="Enter Team Name" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Abreviacao" class="control-label">Abbreviation</label>
                        <input oninput="this.value = this.value.toUpperCase()" asp-for="Abreviacao" class="form-control" placeholder="Ex: ABC" />
                        <span asp-validation-for="Abreviacao" class="text-danger"></span>
                        @if (ViewBag.MsgErro != null)
                        {
                            <span class="text-danger">@ViewBag.MsgErro</span>
                        }
                    </div>

                    <div class="form-Img">
                        <label asp-for="Img" class="control-label">Team Image</label>
                        <input type="file" name="file" asp-for="Img" class="fileImg" />
                        <span asp-validation-for="Img" class="text-danger"></span>
                    </div>
                   
                    <div class="form-group button-group">
                        <button type="submit" class="btn-submit">Save</button>
                        <a asp-area="" class="btn-back" asp-controller="Time" asp-action="Index">
                            Back
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}