body{
    padding: 0;
    margin: 0;
}

/* Estilo para a tabela */
.styled-table {
    text-align: start;
    width: 98%;
    border-collapse: collapse;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

    /* Estilo do cabeçalho */
    .styled-table thead tr {
        background-color: #022c3a;
        color: #ffffff;
        text-align: left;
    }

    .styled-table th, .styled-table td {
        padding: 12px 15px;
        border: 1px solid #ddd;
    }

    /* Linhas alternadas */
    .styled-table tbody tr:nth-child(even) {
        background-color: #f3f3f3;
    }

    .styled-table tbody tr:nth-child(odd) {
        background-color: #e6e6e6;
    }

    /* Efeito ao passar o mouse */
    .styled-table tbody tr:hover {
        background-color: #d1ecf1;
    }

/* Responsividade */
@media (max-width: 768px) {
    .styled-table th, .styled-table td {
        font-size: 14px;
    }
}

.titulo{
    margin-top: -15px;
    margin-left: 20px;
}
    .titulo h1 {
        color: #022c3a;
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
    }

.header {
   display: flex;
   justify-content: space-between;
   margin-left: 20px;
   margin-top: 40px;
   align-items: center;
}

.container1 button {
    padding: 12px;
    color: #f3f3f3;
    background-color: #022c3a;
    border: none;
    cursor: pointer;
}

    .container1 button i {
        padding-right: 6px;
    }

    /* Efeito de hover */
    .container1 button:hover {
        background-color: #1abc9c; /* Altera a cor de fundo no hover */
        transform: translateY(-1px); /* Levanta o botão um pouco */
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Adiciona sombra para dar um efeito de destaque */
    }

.container2 {
    display: inline-flex;
    align-items: center;
}

    .container2 h2 {
        color: #022c3a;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        margin-right: 10px; 
    }

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

    .search-container input {
        height: 30px;
        padding-left: 30px;
    }

    .search-container button {
        position: absolute;
        left: 5px;
        background: transparent;
        border: none;
        cursor: pointer;
    }

        .search-container button i {
            color: #022c3a; 
        }

.container3 h2 {
    color: #022c3a;
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
}

.Column-Action{
    text-align: center;
}

    .Column-Action button {
        font-size: 15px;
        margin-left: 5px;
        margin-right: 5px;
        color: #f3f3f3;
        background-color: #022c3a;
        border: none;
        cursor: pointer;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

#btnView:hover {
    background-color: #31a4e7; 
    transform: translateY(-1px); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#btnEdit:hover {
    background-color: #d95400; 
    transform: translateY(-1px); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
}

#btnDel:hover {
    background-color: #bf1b20; 
    transform: translateY(-1px); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}



/*Cadastrar times*/
/* Container do formulário */
.form-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

    .form-container h2 {
        font-family: 'Poppins', sans-serif;
        text-align: center;
        color: #022c3a;
        margin-bottom: 20px;
        font-size: 24px;
    }

/* Grupo de formulário */
.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        display: block;
        font-size: 14px;
        font-weight: bold;
        color: #022c3a;
        margin-bottom: 5px;
    }

    .form-group input {
        width: 96.5%;
        padding: 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
        transition: border-color 0.3s;
    }

        .form-group input:focus {
            border-color: #022c3a;
        }

/* Grupo de botões */
.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* Botão de salvar */
.btn-submit {
    flex: 1;
    padding: 12px 20px;
    background-color: #022c3a;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .btn-submit:hover {
        background-color: #567899;
        transition: all 0.3s ease;
    }

/* Botão de voltar */
.btn-back {
    flex: 1;
    padding: 12px 20px;
    background-color: #6c757d;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    text-decoration: none;
}

    .btn-back:hover {
        background-color: #5a6268;
    }

/* Mensagens de erro */
.text-danger {
    font-size: 12px;
    color: #e3342f;
}

.form-Img{
    margin-bottom: 15px;
}
    .form-Img label {
        display: block;
        font-size: 14px;
        font-weight: bold;
        color: #022c3a;
        margin-bottom: 5px;
    }

    .form-Img input {
        padding-top: 3px;
        padding-bottom: 20px;
    }

.msg-erro{
    text-align: center;
}
    .msg-erro span {
        color: #ff4d4f;
        font-weight: bold;
        font-size: 1.1rem;
        background-color: #ffe6e6;
        padding: 8px 12px;
        border: 1px solid #ffcccc;
        border-radius: 5px;
        display: inline-block;
        margin-top: 40px;
        margin-bottom: 10px;
        text-align: center;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        font-family: 'Poppins', sans-serif;
    }
